<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <!-- <link rel="stylesheet" href="../../public/css/debug.css"> -->
  </head>
  <body>
    <main>
      <section class="hero has-background-black">
        <div class="hero-body">
          <div class="container">
            <!-- TODO: put Chris' logo here 
            <figure class="image center">
              <img src="images/bulma-logo-white.png" style="max-width: 256px;">
            </figure> -->
            <a href="/">
              <h1 class="title is-1"
                style="
      text-align: center; 
      color: white; 
            ">
              Tight Knit Games
              </h1>
            </a>
          </div>
        </div>
      </section>

      {{{ body }}}

    </main>
    <footer>
      {{ footer }}
    </footer> 
  </body>
</html>