<section class="section">
  <div class="container">
    <div class="content">
      <p class="subtitle is-3" style="text-align: center">Indie video game development, one stitch at a time.</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-347x347">
              <a href="games/kujira">
                <img src="../public/images/game-logos/kujira-logo.png" alt="Kujira logo">
              </a>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Kujira</p>
              </div>
            </div>

            <div class="content">
              2D Action Platformer inspired by classic Castlevania.<!--  <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a> -->
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-347x275">
              <a href="games/go-up">
                <img src="../public/images/game-logos/go-up-logo.png" alt="Go Up logo">
              </a>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Go Up</p>
              </div>
            </div>

            <div class="content">
              Lay eggs and bounce on them to go up.
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-347x347">
              <a href="games/victors-journey">
                <img src="../public/images/game-logos/victors-journey-logo.png" alt="Victor's Journey logo">
              </a>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Victor's Journey</p>
              </div>
            </div>

            <div class="content">
              2D Platformer where you manipulate collision, gravity, and platforms.<!--  <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a> -->
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>